

.ratingContainer {
    display: flex;
    justify-content: space-between;
    // max-width: 144px;
    width: 100%;
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #a7a7a7;
      // margin-bottom: 16px;
    }
    .rating {
      display: flex;
    }
  }