.wrapper {
  max-width: 445px;
  min-width: 445px;
  margin-right: 30px;

  @media screen and (max-width: 830px) {
    max-width: 139px;
    min-width: 139px;
  }

  @media screen and (max-width: 430px) {
    max-width: 186px;
    min-width: 186px;
  }

  .mainImg {
    display: block;
    width: 445px;
    height: 593px;

    @media screen and (max-width: 830px) {
      width: 139px;
      height: 198px;
    }

    @media screen and (max-width: 430px) {
      width: 188px;
      height: 259.56px;
    }
  }

  .pagination {
    position: relative;
  }
  .blur {
    display: block;
    position: absolute;
    top: 0;
    width: 25px;
    height: 86px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
    z-index: 7;

    :last-child {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
    }

    @media screen and (max-width: 820px) {
      display: none;
    }
  }

  .main {
    .swiper-pagination {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      margin-top: 24px;

      @media screen and (min-width: 820px) {
        display: none;
      }

      &-bullet {
        width: 7px;
        height: 7px;

        &-active {
          width: 9px;
          height: 9px;
          background: #363636;
        }
      }
    }
  }

  .less {
    margin-top: 17px;
    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      position: static;
      margin-top: 8px;
      height: 6px;

      .swiper-scrollbar-drag {
        height: 6px;
        background: #a7a7a7;
        border-radius: 4px;
      }

      @media screen and (max-width: 820px) {
        display: none;
      }
    }

    &swiper-wrapper {
      @media screen and (max-width: 820px) {
        display: none;
      }
    }
  }

  .lessImg {
    display: block;
    width: 65px;
    height: 86px;
    border: 1px solid #bfc4c9;
    border-radius: 3px;
  }
}
