.cardBtn {
  padding: 11px 23px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 100%;
  @media (max-width: 320px) {
    max-width: 256px;
    width: 100%;
  }
}

.reserved {
  background: #f9f9fa;
  color: #a7a7a7;
  border: 1px solid #bfc4c9;
  border-radius: 20px;
}
