.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 825px;
  width: 100%;
  margin-left: 6px;
  margin: 0 auto;
  height: 100%;
}

.listStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 24px;
  @media (max-width: 1135px) {
    justify-content: flex-start;
    @media (max-width: 768px) {
      justify-content: start;
      row-gap: 32px;
      column-gap: 1.8em;
      @media (max-width: 768px) {
        justify-content: flex-start;
        row-gap: 16px;
        @media (max-width: 456px) {
          justify-content: center;
        }
      }
    }
  }
}
