.wrapperDesktop {
  max-width: 279px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  @media (max-width: 768px) {
    display: none;
  }
}

.wrapperMobile {
  max-width: 255px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 0px 28px 32px;
  @media (max-width: 650px) {
    width: 70%;
  }
  @media (max-width: 450px) {
    width: 100%;
    padding: 14px 0px 28px 16px ;
  }
}

.active {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.navLink {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
  padding-top: 18px;
  letter-spacing: 0.1px;
}
.start {
  width: 255px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #f83600, #f9d423 297.76%) 1;
  padding: 6px 0;
}

.dropUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:after {
    margin-right: 12px;
    display: block;
    content: '';
    background-image: url('../../assets/icons/Icon_dropdown.svg');
    width: 24px;
    height: 24px;
  }
}

.dropDown {
  &:after {
    background-image: url('../../assets/icons/Icon_dropUp.svg');
  }
}

.amount {
  font-size: 14px;
  color: #a7a7a7;
  padding-left: 6px;
  line-height: 24px;
}
.categoriesLink {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  padding-left: 20px;
}
.switchOff{
  display: none;
}